@use '../abstracts' as *;

.hero-section {
  background-color: var(--c-dark-violet);
  min-height: 60rem;

  @include pseudo(before, url(/images/bg-pattern-intro-right-desktop.svg)) {
    top: 0;
    right: 0;
    z-index: 2;
  }

  @include pseudo(after, url(/images/bg-pattern-intro-left-desktop.svg)) {
    bottom: -33.5rem;
    left: 0;
    z-index: 2;
  }
}

.hero {
  &__content {
    display: flex;
    flex-direction: row-reverse;
    gap: 2rem;
  }

  &__photo {
    transform: translateY(10.5rem);
    flex: 1;
    z-index: 1;
  }

  &__text {
    margin-top: 10.5rem;
    padding-top: 6.3rem;
    flex: 1;
    z-index: 3;

    @include pseudo() {
      background-color: #fff;
      width: 15rem;
      height: 0.1rem;
      top: 0;
      left: 0;
    }

    .heading {
      color: #fff;
      margin-bottom: 2rem;
    }

    .paragraph {
      color: #fff;
    }
  }

  &__cta {
    margin-top: 2.4rem;
  }
}

.about-section {
  margin-top: 30.5rem;
  margin-bottom: 15.8rem;
  padding-top: 6.3rem;

  @include pseudo() {
    background-color: var(--c-border-body);
    width: 15rem;
    height: 0.1rem;
    top: 0;
    left: 0;
  }

  .features {
    padding-top: 9.6rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 3rem;
    align-items: start;
  }

  .feature {
    &__icon {
      margin-bottom: 3.2rem;
    }

    &__heading {
      margin-bottom: 1.6rem;
    }
  }
}

.how-we-work {
  background-color: var(--c-dark-violet);
  padding: 6.9rem 8rem;
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15rem;
  z-index: 1;
  overflow: hidden;

  @include pseudo(before, url('/images/bg-pattern-how-we-work-desktop.svg')) {
    right: 0;
    top: 0;
    z-index: -1;
  }

  h2 {
    color: #fff;
    font-size: 5.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 5.6rem;
    letter-spacing: -0.0778rem;
  }
}

@include media-breakpoint-down(md) {
  .hero-section {
    @include pseudo() {
      display: none;
    }

    @include pseudo(after) {
      display: none;
    }

    .container {
      width: 100%;
    }

    .hero {
      &__content {
        flex-direction: column;
        gap: 0;
      }

      &__photo {
        transform: translateY(0);

        img {
          width: 100%;
          height: auto;
        }
      }

      &__text {
        margin-top: 0;
        padding: 9.3rem 2.4rem;
        text-align: center;

        @include pseudo(before, url(/images/bg-pattern-intro-left-mobile.svg)) {
          background-color: unset;
          width: unset;
          height: unset;
        }
        @include pseudo(after, url(/images/bg-pattern-intro-right-mobile.svg)) {
          right: 0;
          bottom: -19rem;
        }
      }
    }
  }

  .about-section {
    text-align: center;
    margin-top: 14rem;
    margin-bottom: 14rem;
    padding-top: 4rem;

    @include pseudo() {
      left: 50%;
      transform: translateX(-50%);
    }

    .features {
      gap: 5.6rem;
      padding-top: 8rem;
    }
  }

  .how-we-work {
    padding: 7.2rem 2.4rem;
    flex-direction: column;
    margin-bottom: 14rem;

    @include pseudo(before, url('/images/bg-pattern-how-we-work-mobile.svg')) {
    }

    h2 {
      text-align: center;
      font-size: 4rem;
      font-style: normal;
      font-weight: 400;
      line-height: 4rem;
      letter-spacing: -0.0556rem;
    }
  }
}
